<html>

<head>
  <title>About</title>
</head>

<body>
  <section class="text">
    <h2>About Me</h2>
    <br />
    <div>
      <p>
        I'm native to the Pacific Northwest, and I graduated from the University of Washington with a B.S. in Applied
        Physics in 2017.
        <br />
        <br />
        In the summer of 2019 I completed a full-stack software development bootcamp, and due to my interest in working with data, I started work as a software developer on a data team in Los Angeles.
        <br />
        <br />
      </p>
      <h2>My Programming Story</h2>
      <br />
      <p>
        I first learned to code with a space science laboratory at the University of Washington, where I was challenged
        to
        design and build sounding rockets. These rockets carry payloads to explore the kinematics of flight,
        acquire state properties of the atmosphere, and transmit GPS telemetry.
        <br />
        <br />
        To develop these payloads, I programmed an Arduino to communicate with commercially available sensors
        and instrumentation.
        <br />
        <br />
        My first programming language was C.
        <br />
        <br />
        I totally geeked out, even sometimes skipping class to work on my rocket. You can view the source code
        <a href="https://github.com/nwoodr94/cpp-projects/blob/master/scientific-payload.cpp" alt="Nathan Woodruff"
          rel="noreferrer" target="_blank"><u>here</u></a>.
      </p>
      <h2>Machine Preferences</h2>
      <br />
      <p>
        I'm developing in Crostini on a Pixelbook Go, with the i5/8/128 gig configuration. I like the Chrome OS philosophy, and when it's time to code, I fire up the terminal and work directly in the provisioned Debian container. Linux is a lot of fun and the support is great.
        <br />
        <br />
        While Google is my provider of choice for hardware and OS solutions, I stick with AWS for cloud-based development work.
      </p>
      <h2>Lifestyle</h2>
      <p>
        Right now I'm hitting the basics. I train with a crossfit gym, and run a 5K when I get home from work. I invest in the stock market, and meal prep once or twice every week. 
        <br />
        <br />
        In the future, I'd like to do more research in cnc manufacturing and space propulsion. I want to get married, buy a house in the desert, and explore the west in an old Toyota 4Runner.
        <br />
        <br />
      </p>
        <div class="img-container">
          <img src="../../assets/imgs/space-daemon.png" />
        </div>
    </div>

  </section>
</body>

</html>