<section class="text">
  <h2>About Me</h2>
  <br />
  <div>
    <p>
      I'm native to the Pacific Northwest, and I graduated from the University of Washington with a B.S. in Applied
      Physics in 2017.
      <br />
      <br />
      In the summer of 2019, I completed a full-stack software development bootcamp, and began work in Los Angeles.
      <br />
      <br />
    </p>
    <h2>My Programming Story</h2>
    <br />
    <p>
      I first learned to code with a space science laboratory at the University of Washington, where I was challenged to
      design and build sounding rockets. These rockets carry payloads to explore the kinematics of flight,
      acquire state properties of the atmosphere, and transmit GPS telemetry.
      <br />
      <br />
      To develop these payloads, I programmed an Arduino to communicate with a variety of commercially available sensors
      and instrumentation.
      <br />
      <br />
      My first programming language was C.
      <br />
      <br />
      I totally geeked out, even sometimes skipping class to work on my rocket. You can view the source code
      <a href="https://github.com/nwoodr94/cpp-projects/blob/master/scientific-payload.cpp"><u style="color: black">here</u></a>.
      <br />
      <br />
      <div class="img-container">
        <img src="../../assets/imgs/space-daemon.png" />
      </div>

  </div>

</section>