<section class="text">
    <h2>About Me</h2>
    <br />
    <div>
      <p>
        I'm native to the Pacific Northwest, and I graduated from the University of Washington with a B.S. in Applied
        Physics in 2017.
        <br />
        <br />
        In the summer of 2019, I completed a full-stack software development bootcamp, and began work in Los Angeles.
    
        <br />
        <br />
      <h2>My Programming Story</h2>
      <br />
      <p>
        I first learned to code with a space science laboratory at the University of Washington, where I was challenged to
        design and build sounding rockets. These rockets carry payloads to explore the kinematics of flight,
        acquire state properties of the atmosphere, and transmit GPS telemetry.
        <br />
        <br />
        To develop these payloads, I programmed an Arduino to communicate with a variety of commercially available sensors
        and instrumentation.
        <br />
        <br />
        My first programming language was C.
        <br />
        <br />
        I totally geeked out, even sometimes skipping class to work on my rocket. You can view the source code <u>here</u>.
        <br />
        <br />
        <div class="img-container">
          <img src="../../assets/imgs/space-daemon.png" />
        </div>
  
        <br />
        <br />
        <h2>Machine Preferences</h2>
        <br />
        <p>
          I'm currently developing on the Pixelbook Go, utilizing the underlying Debian OS. I enjoy a clean Chrome OS, and fire up the terminal  when it's time to code.
          <br />
          <br />
          For work related matters, my setup is less experimental, and I build on a company issued laptop.
          <br />
          <br />
          A future project of mine is to build my own PC.
        </p>
        <br />
  
        <br />
        <h2>Lifestyle</h2>
        <br />
        <p>
          As an established developer, I'm working on funding other technical hobbies of mine. I'm really into propulsion, and I have a thing for CNC machines.
          <br />
          <br />
          I think daily standup should be performed in the plank position.
          <br />
          <br />
          My favorite state is Arizona.
        </p>
    </div>
  
  </section>