ul {
  padding: 2vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

li {
    display: inline;
    padding: 1rem;
    color: black;
  }

  a {
    color: black;
  }
  a:visited {
    color:black;
  }
  a:hover {
    color: #69F0AE;
    text-decoration: none;
  }