li {
    display: inline-flex;
    flex-direction: row;
    font-weight: bold;
    padding: 1rem;
    transition: opacity 0.8s;
  }
  
li:hover {
    opacity: 0.5;
  }

  a {
    color: black;
  }
  a:visited {
    color:black;
  }