<html>

<head>
    <title>Nathan Woodruff</title>
    <meta name="description=" content="Nathan Woodruff is a data engineer.">
</head>

<body>
    <section class="text">
        <h2>Clean Code</h2>
        <br />
        <p>
            I write clean code for my company. I like the idea of not just being a principled developer, but also
            writing
            principled code.
            <br />
            <br />
            Clean Code is famous among software developers, because it very well constitutes the source of truth when we
            strive to develop good software. Everything from writing good comments, to elegant functions, and neat
            architecture is important. I have solved problems for my company by following advice in this book.
        </p>
        <h2>DevOps</h2>
        <br />
        <p>
            DevOps is a union of development and operations processes designed to reduce cycle time in software
            development.
            It's not just a strategy, but a culture, and companies with a proper DevOps implementation are not only
            really
            fun to work for, but they make a ton of money.
            <br />
            <br />
            I have experience with CI/CD processes, and I make use of DevOps utilities everyday.
        </p>
        <h2>Agile</h2>
        <br />
        <p>
            I fully endorse the agile methodology, because it produces results. I have only had positive experiences
            with Agile teams and I'm always proud to sign off on software developed under such conditions.
        </p>
        <h2>The Bazaar</h2>
        <br />
        <p>
            I'm a proponent of open-source software. I believe open source software has greater utility, support, and
            interoperability with existing tools and frameworks, and as such, enables developers to build neater, more
            innovative, and robust applications.
        </p>
    </section>
</body>

</html>