<section class="text">
    <h2>What I Do</h2>
    <br />
    <p>
        I'm a software developer with Southern California Edison in Los Angeles. SCE provides electricity to 14 million
        residents in the greater Los Angeles metropolitan area.
        <br />
        <br />
        I'm a developer on a data team. I build ETL pipelines, script in Python, and pull business statistics out of
        Oracle and present them on front-end applications in JavaScript.
        <br />
        <br />
        I'm trained in full-stack development, and write clean code for my company. I'm a practicioner of an agile
        lifecycle methodology, to develop new applications, and support legacy ones.
        <br />
        <br />
    </p>
    <h2>This Site</h2>
        <br />
        I built this website in Angular, and deployed it on an S3 instance. After buying this domain, I passed the S3
        name servers to my provider. Route 53 handles all my dns resolution, and I enlisted CloudFront to pass my ACM
        certificate to require HTTPS protocol.
        <br />
        <br />
        The code for this site is hosted on my GitHub. True to the culture of DevOps, I can make any changes I want, and
        immediately redeploy the site from the command line.
</section>