<section class="text">
    <h2>What I Do</h2>
    <br />
    <p>
        I'm a software developer with Southern California Edison in Los Angeles. SCE provides electricity to 14 million residents in the greater Los Angeles metropolitan area.
        <br />
        <br />
        I'm a developer on a data team. I build ETL pipelines, script in Python, and pull business statistics out of Oracle and present them on front-end applications in JavaScript.
        <br />
        <br />
        I'm trained in full-stack development, and write clean code for my company. I'm a practicioner of both agile and
        waterfall lifecycle methodologies, to develop new applications, and support legacy ones.
        <br />
        <br />
        I built this website in Angular, and deployed it on an AWS S3 instance.
    </p>
</section>