<html>

<head>
    <title>Nathan Woodruff</title>
    <meta name="description=" content="Nathan Woodruff is a full stack software developer.">
</head>

<body>
    <section class="text">
        <h2>What I Do</h2>
        <br />
        <p>
            I'm a software developer with Southern California Edison in Los Angeles. SCE provides electricity to 14
            million
            residents in the greater Los Angeles metropolitan area.
            <br />
            <br />
            I work on a data team. I build ETL pipelines, script in Python, and pull business statistics out of
            Oracle and present them on front-end applications. I also make use of AWS services like S3, Route 53, and
            CloudFront.
            <br />
            <br />
            I work the full stack, and write clean code for my company. I'm a practicioner of the agile
            lifecycle methodology, to develop new applications, and support legacy ones.
        </p>
    </section>
</body>