body {
  background-color: #222;
  color: white;
}

.text {
    padding-top: 25vh;
    width: 85%;
    max-width: 36em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    font-family: 'Roboto', sans-serif;
  }

.welcome {
  text-align: center;
}

.text h2 {
  font-size: 5rem;
  font-weight: bolder;
}

@media only screen and (max-width: 750px) {
  .text {
    padding-top: 40vh;
  }
}