body {
  background-color: #222;
  color: white;
}

.text {
    padding-top: 25vh;
    width: 85%;
    max-width: 36em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    font-family: 'Roboto', sans-serif;

  }

.welcome {
  text-align: center;
}