<html>

<head>
    <title>Nathan Woodruff</title>
    <meta name="description=" content="Nathan Woodruff is a data engineer.">
</head>

<body>
    <section class="text">
        <div class="welcome">
            <h2>Welcome</h2>
            <br />
            <p>
                My name is Nathan Woodruff. 
                <br />
                I'm a data engineer based in Los Angeles 🌴
                <br />
                <br />
                Welcome to my website!
            </p>
        </div>
    </section>
</body>